@import url("https://fonts.googleapis.com/css2?family=Roboto:wght@100;200;400;500;700&display=swap");

.navbar-brand img {
  height: 65px;
}

:root {
  --bs-light: #f8f9fa;
  --bs-dark: #131629e0;
  --bs-link-color: #1c1c1f;
  --bs-link-hover-color: #111213;
}

.btn {
  --bs-btn-font-family: "Roboto", sans-serif;
  --bs-btn-font-size: 0.8rem;
}
.btn-primary {
  --bs-btn-color: #fff;
  --bs-btn-bg: transparent;
  --bs-btn-border-color: #fff;
  --bs-btn-hover-bg: #dbb005;
  --bs-btn-hover-border-color: #dbb005;
  --bs-btn-focus-shadow-rgb: 49, 132, 253;
  --bs-btn-active-color: #fff;
  --bs-btn-active-bg: #b69205;
  --bs-btn-active-border-color: #b69205;
  --bs-btn-active-shadow: inset 0 3px 5px rgba(0, 0, 0, 0.125);
  --bs-btn-disabled-color: #fff;
  --bs-btn-disabled-bg: #dbb005;
  --bs-btn-disabled-border-color: #dbb005;
}

.nav{
    --bs-nav-link-font-weight: 0.8rem;
}

header {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  z-index: 999;
}

.intro--container{
  position: relative;
  margin-top: 65px;
  height: calc(100vh - 65px);
  background-image: linear-gradient(var(--bs-dark), var(--bs-dark)),
    url(./images/img-1.jpg);
    background-position: center;
    background-size: cover;
}

.bg--dark{
  background-position: center;
  background-size: cover;
}

.service-section{
  background-image: linear-gradient(var(--bs-dark), var(--bs-dark)),
    url(./images/img-1.jpg);
}
.nav-item:hover{
  background-color: #8e8c924b;
}